@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  background-image: url("../src/images/2150735504\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
